<% if customer_signed_in? %>
  <% if product.bookmarked_by?(current_customer) %>
    <%= link_to product_bookmarks_path(product), method: :delete, remote: true, class: 'bookmark-btn' do %>
      <i class="fas fa-bookmark"></i>
      <span class="bookmark-count">
        <%= product.bookmarks.count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to product_bookmarks_path(product), method: :post, remote: true, class: 'bookmark-btn' do %>
      <i class="far fa-bookmark"></i>
      <span class="bookmark-count">
        <%= product.bookmarks.count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= link_to product_bookmarks_path(product), method: :post, class: 'bookmark-btn' do %>
    <i class="far fa-bookmark"></i>
    <span class="bookmark-count">
      <%= product.bookmarks.count %>
    </span>
  <% end %>
<% end %>