<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% cart_products.each do |cart_product| %>
    <tr class="cart_product_<%= cart_product.id %>">
      <td>
        <%= link_to product_path(cart_product.product) do %>
          <%= attachment_image_tag cart_product.product, :image, fallback: 'no_image.png', size: '50x40' %>
          <%= cart_product.product.name %>
        <% end %>
      </td>
      <td>
        <%= tax_included_price(cart_product.product.price) %>
      </td>
      <td>
        <%= form_with model: cart_product do |f| %>
          <%= f.number_field :quantity, min:1 %>
          <%= f.submit '変更', class: 'btn btn-success' %>
        <% end %>
        <div class="update_info_<%= cart_product.id %>"></div>
      </td>
      <td>
        <%= subtotal_price(cart_product.product.price, cart_product.quantity) %>
      </td>
      <td>
        <%= link_to '削除する', cart_product_path(cart_product), method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-bordered col-md-5 ml-auto">
  <tbody>
    <tr>
      <th>合計</th>
      <td id="total"><%= tax_excluded_price(total_price) %></td>
    </tr>
  </tbody>
</table>

<div class="mt-5">
  <%= link_to '買い物を続ける', products_path, class: 'btn btn-primary' %>
</div>

<div class="order-btn d-flex justify-content-center mb-5">
  <% if cart_products.pluck(:quantity).sum >= 100 %>
    <%= link_to '情報入力に進む', new_order_path, data: { confirm: 'カートに商品が100個以上入っています。お間違いないですか？' }, class: 'btn btn-success' %>
  <% else %>
    <%= link_to '情報入力に進む', new_order_path, class: 'btn btn-success' %>
  <% end %>
</div>