= form_with url: products_path, method: :get, local: :true, class: "product-search-form border p-3" do |f|
  .my-3.d-flex.flex-column
    // 何故か検索できなくなった
    // .field
    //   = f.label :words, "検索ワードを追加", class: "font-weight-bold"
    //   %br
    //   = f.text_field :words, value: params[:words], placeholder: '商品を検索', class: "words"
    .field
      = f.label :genre_id, "ジャンル", class: "font-weight-bold"
      %br
      = f.collection_select :genre_id, Genre.all, :id, :name, { selected: params[:genre_id], include_blank: '選択してください' }, class: "btn btn-outline-secondary genre_id"
    .field
      = f.label :price, "価格", class: "font-weight-bold mt-3"
      %br
      = f.select :price, [["0~1000", 1], ["1000~3000", 2], ["3000~5000", 3], ["5000~10000", 4] ], { selected: params[:price], include_blank: '選択してください' }, class: "btn btn-outline-secondary price"
      %br
      = f.text_field :min_price, placeholder: "￥Min", value: params[:min_price], class: "mt-3 min_price"
      ～
      = f.text_field :max_price, placeholder: "￥Max", value: params[:max_price], class: "max_price"
    .field
      = f.label :is_active, "販売状況", class: "font-weight-bold mt-3"
      %br
      = f.select :is_active, [["販売停止中", 1], ["すべて", 2]], { selected: params[:is_active], include_blank: '販売中' }, class: "btn btn-outline-secondary is_active"
    = f.hidden_field :sort, value: params[:sort]
    = f.hidden_field :words, value: params[:words]
    .action.d-flex.mt-3
      %button#formreset.btn.btn-outline-danger.w-50{type: "button"}クリア
      = f.submit "適用する", class: 'btn btn-outline-primary w-50'
