= form_with url: products_path, method: :get, local: true, class: "mr-3" do |f|
  = f.select :sort, [["新しい順", 1], ["古い順", 2], ["価格の安い順", 3], ["価格の高い順", 4], ["人気順", 5]], {selected: params[:sort], include_blank: '並べ替え'}, {onchange: "this.form.submit()", class: "btn btn-outline-secondary"}
  = f.hidden_field :words, value: params[:words]
  = f.hidden_field :genre_id, value: params[:genre_id]
  = f.hidden_field :price, value: params[:price]
  = f.hidden_field :min_price, value: params[:min_price]
  = f.hidden_field :max_price, value: params[:max_price]
  = f.hidden_field :is_active, value: params[:is_active]