<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>注文履歴一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入客</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.order(created_at: "DESC").each do |order| %>
          <tr>
            <td><%= link_to "#{order.created_at.to_s(:datetime_jp)}", admin_order_path(order) %></td>
            <td><%= "#{order.customer.last_name} #{order.customer.first_name}" %></td>
            <td><%= order.ordered_products.sum{|product| product[:quantity]} %></td>
            <td><%= order.status_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>