<div class="container">
  <h2>注文履歴詳細</h2>

  <div class="row">
    <div class="col-md-8">
      <table class="table-borderless table-light" style="width: 100%">
        <tbody style="width: 100%">
          <tr>
            <th style="width:25%">購入者</th>
            <td style="width:75%"><%= "#{@order.customer.last_name} #{@order.customer.first_name}" %></td>
          </tr>
          <tr>
            <th style="width:25%">注文日</th>
            <td style="width:75%"><%= "#{@order.created_at}"%></td>
          </tr>
          <tr>
            <th style="width:25%">配送先</th>
            <td style="width:75%">
              <%= "〒#{@order.postcode} #{@order.address}" %><br>
              <%= "#{@order.dear}" %>
            </td>
          </tr>
          <tr>
            <th style="width:25%">支払方法</th>
            <td style="width:75%"><%= "#{@order.payment_method_i18n}" %></td>
          </tr>
          <tr>
            <th style="width:25%">注文ステータス</th>
            <td style="width:75%">
              <%= form_with(url: admin_order_path(@order), method: :patch, local: true) do |f| %>
              <%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]}, {selected: @order.status} %>
              <%= f.submit "更新", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.ordered_products.each do |o_product| %>
          <tr>
            <td><%= "#{o_product.product.name}" %></td>
            <td><%= tax_excluded_price(o_product.tax_included_price) %>円</td>
            <td><%= o_product.quantity %></td>
            <td><%= tax_excluded_price(o_product.tax_included_price * o_product.quantity) %>円</td>
            <%= form_with(url: admin_order_ordered_product_path(@order.id, o_product.id), method: :patch, local: true) do |f| %>
            <td>
               <%= f.select :making_status, OrderedProduct.making_statuses.keys.map{|k| [I18n.t("enums.ordered_product.making_status.#{k}"), k]}, {selected: o_product.making_status} %>
            </td>
            <td> <%= f.submit "更新", class: "btn btn-success", id: "making-status-btn" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div>
        <p><%= "商品合計 #{tax_excluded_price(@order.total_price - @order.shipping_cost)}円" %></p>
        <p><%= "送料 #{tax_excluded_price(@order.shipping_cost)}円" %></p>
        <p><%= "請求合計額 #{tax_excluded_price(@order.total_price)}円" %></p>
      </div>
    </div>
  </div>
</div>