.container
  %h2 注文履歴一覧
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th 注文日
        %th 配送先
        %th 注文商品
        %th 支払い金額
        %th ステータス
        %th 注文詳細
    %tbody
      - current_customer.orders.reverse_each do |order|
        %tr
          %td.align-middle
            = order.created_at.strftime("%Y/%m/%d")
          %td
            〒#{order.postcode}
            %br
            = order.address
            %br
            = order.dear
          %td.align-middle
            - order.ordered_products.each do |ordered_product|
              = ordered_product.product.name
              %br
          %td.align-middle
            #{order.total_price.to_s(:delimited, delimiter: ',')}円
          %td.align-middle
            = order.status_i18n
          %td.align-middle
            .mx-auto.order-path
              = link_to "表示する", order_path(order), class: "btn btn-primary"