<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>管理者ログイン</h2>

        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'form-control mb-2' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control mb-2' %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary px-5' %>
        </div>
        <% end %>

    </div>
  </div>
</div>