<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="d-flex justify-content-between">
        <h2>商品一覧</h2>
        <%= link_to '＋', new_admin_product_path, class: 'btn btn-outline-dark rounded-circle shadow p-10 m-2' %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= link_to product.name, admin_product_path(product) %>
            </td>
            <td>
              <%= tax_excluded_price(product.price) %>
            </td>
            <td>
              <%= product.genre.name %>
            </td>
            <td>
              <% if product.is_active == true %>
                <span class="text-success">販売中</span>
              <% else %>
                <span class="text-secondary">販売停止中</span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <%= paginate @products %>
      </div>

    </div>
  </div>
</div>