<div class="container">
  <div class="row">
    <div class="col-md-10">

      <h2>商品詳細</h2>
      <div class="d-flex justify-content-start">
        <div class="product-img mr-5">
          <%= attachment_image_tag @product, :image, fallback: 'no_image.png', size: '200x150' %>
        </div>
        <div class="product-detail">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td><small>商品名</small></td>
                <td class="pl-5"><%= @product.name %></td>
              </tr>
              <tr>
                <td><small>商品説明</small></td>
                <td class="pl-5"><%= @product.description %></td>
              </tr>
              <tr>
                <td><small>ジャンル</small></td>
                <td class="pl-5"><%= @product.genre.name %></td>
              </tr>
              <tr>
                <td><small>税込価格(税抜価格)</small></td>
                <td class="pl-5"><%= tax_included_price(@product.price) %> (<%= tax_excluded_price(@product.price) %>) 円</td>
              </tr>
              <tr>
                <td><small>販売ステータス</small></td>
                <td class="pl-4">
                  <% if @product.is_active == true %>
                　   <span class="text-success">販売中</span>
                  <% else %>
                　   <span class="text-secondary">販売停止中</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <%= link_to '編集する', edit_admin_product_path(@product), class: 'btn btn-success px-4' %>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>