<div class="container">
  <div class="row">
    <div class="col-md-10">

      <h2>商品詳細</h2>
      <div class="d-flex justify-content-start">
        <div class="product-img mr-5">
          <%= attachment_image_tag @product, :image,　fallback: 'no_image.png', size: '200x150' %>
        </div>
        <div class="product-detail">
          <p>商品名　<%= @product.name %></p>
          <p>商品説明　<%= @product.description %></p>
          <p>ジャンル　<%= @product.genre.name %></p>
          <p>税込価格（税抜価格）　<%= tax_included_price(@product.price) %> (<%= tax_excluded_price(@product.price) %>) 円</p>
          <p>販売ステータス
            <% if @product.is_active == true %>
          　   <span class="text-success">販売中</span>
            <% else %>
          　   <span class="text-secondary">販売停止中</span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to '編集する', edit_admin_product_path(@product), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>