<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="d-flex mb-3">
        <% if params[:genre_id].present? %>
          <h2><%= @genre.name %>一覧（全<%= @products_count %>件）</h2>
        <% else %>
          <h2>商品一覧（全<%= @products_count %>件）</h2>
        <% end %>
        <%= form_with url: products_path, method: :get, local: :true, class: "ml-auto mr-4" do |f| %>
          <div class="input-group-append">
            <%= f.search_field :words, value: params[:words], placeholder: '商品を検索', class: "product_text_search_form suggest" %>
            <%= f.hidden_field :sort, value: params[:sort] %>
            <%= f.hidden_field :price, value: params[:price] %>
            <%= f.hidden_field :min_price, value: params[:min_price] %>
            <%= f.hidden_field :max_price, value: params[:max_price] %>
            <%= f.hidden_field :is_active, value: params[:is_active] %>
            <%= f.hidden_field :genre_id, value: params[:genre_id] %>
            <%= f.submit "\uF002", class: 'search-btn btn btn-sm btn-outline-primary' %>
          </div>
        <% end %>
        <%= render "search/sort_form" %>
        <button id="down-button"class="btn btn-outline-primary dropdown-toggle mx-4 active-button">詳細検索</button>
        <span class="dropup">
          <button id="up-button"class="btn btn-outline-primary dropdown-toggle mx-4">詳細検索</button>
        </span>
        <%= render "search/product_search_form" %>
      </div>
      <div class="products-container d-flex mx-auto">
      <% @products.each do |product| %>
        <div class="one-product">
          <%= link_to product_path(product) do %>
            <div class="product-img">
              <%= attachment_image_tag product, :image, fallback: 'no_image.png', size: '200x150' %>
            </div>
            <p class="product-name"><%= product.name %></p>
          <% end %>
          <p><%= tax_included_price(product.price) %>円</p>
        </div>
      <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <%= paginate @products %>
      </div>

    </div>
  </div>
</div>
