<div class="container">
  <div class="row">
    <div class="col-md-10">

      <div class="product-group d-flex mx-auto">
        <div class="product-img">
          <%= attachment_image_tag @product, :image, :fill, 200, 150, fallback: 'no_image.png', size: '200x150' %>
        </div>
        <div class="product-detail ml-auto">
          <h4>
            <%= @product.name %>
          </h4>
          <p>
            <%= @product.description %>
          </p>
          <p>
            <%= tax_included_price(@product.price) %>（税込）
          </p>
          <div class="form-group">
            <%= form_with model: @cart_product, local: true do |f| %>
              <%= f.select :qunatity, options_for_select((1..10).to_a), {include_blank: '個数選択'} %>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>