.flex-column.ml-auto
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li= link_to "商品一覧", admin_products_path, class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "会員一覧", admin_customers_path, class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "注文履歴一覧", admin_orders_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "ジャンル一覧", admin_genres_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark btn btn-outline-dark mr-3"
  = render 'admin/search/search_form'
%button{class: "navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#navbarNavDropdown", "aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation"}
  %span.navbar-toggler-icon