%p.mb-0.mr-5.ml-auto ようこそ、#{current_customer.name}さん！
%ul.navbar-nav
  %li= link_to "マイページ", customers_path, class: "nav-link text-dark btn btn-outline-dark mr-5"
  %li= link_to "商品一覧", products_path, class: "nav-link text-dark btn btn-outline-dark mr-5"
  %li= link_to "カート", cart_products_path , class: "nav-link text-dark btn btn-outline-dark mr-5"
  %li= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark btn btn-outline-dark mr-5"