!!!
%html
  %head
    %title ながのCAKE
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    %header.border-bottom
      %nav.navbar.navbar-expand-lg.navbar-dark
        %a.navbar-brand{:href => "/"}
          %span.logo.text-dark ながのCAKE
        - if customer_signed_in?
          %p.mb-0.ml-auto.mr-5 
            ようこそ、
            = current_customer.name
            さん！
          %ul.navbar-nav
            %li= link_to "マイページ", customers_path, class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "商品一覧", products_path, class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "カート", cart_products_path , class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark btn btn-outline-dark mr-5"
        - else
        
          %ul.navbar-nav.ml-auto
            %li= link_to "About", about_path,class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "商品一覧", products_path, class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "新規登録", new_customer_registration_path , class: "nav-link text-dark btn btn-outline-dark mr-5"
            %li= link_to "ログイン", new_customer_session_path , class: "nav-link text-dark btn btn-outline-dark mr-5"



    %main
      = yield

    %footer.border-top

